<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" [routerLink]="[ 'matTable' ]" routerLinkActive="active">Elementary</a>
    <a class="nav-item nav-link" [routerLink]="[ 'phone' ]" routerLinkActive="active">Phonebook</a>
    <a class="nav-item nav-link" [routerLink]="[ 'chat' ]" routerLinkActive="active">Chat</a>
    <a class="nav-item nav-link" [routerLink]="[ 'admin-chat' ]" routerLinkActive="active">Admin chat</a>
    </div>
</nav>
  <div class="tab-content" id="nav-tabContent">
    <router-outlet></router-outlet>
  </div>

